@media screen and (max-width: 991px) {
  .login-right-wrap {
    height: 400px;
    padding: 0px 10px;
  }

  .account-left-avt img {
    width: 150px !important;
    height: 150px !important;
  }
}

@media screen and (max-width: 650px) {
  .el-dialog { width: 90% !important}
}

