* { box-sizing: border-box; }
body {
  padding: 0;
  margin: 0;
}

a { text-decoration: none; }

.bg-11385e { background-color: #11385e; }
.btn-11385e,
.btn-11385e:focus { background-color: #11385e; }
.btn-11385e:hover { background-color: #14283d;}

.pd-0 { padding: 0px }
.pd-10 { padding: 10px}
.pd-25 { padding: 25px}
.pt-5 { padding-top: 5px }
.pt-10 { padding-top: 10px }
.pt-15 { padding-top: 15px }
.pr-20 { padding-right: 20px; }
.pr-5 { padding-right: 5px }
.mt-20 { margin-top: 20px }
.mt-0 { margin-top: 0px }
.mt-5 { margin-top: 5px }
.mt-10 { margin-top: 10px }
.mr-5 { margin-right: 5px }
.mb-30 { margin-bottom: 30px; }
.mb-25 { margin-bottom: 25px; }
.mb-10 { margin-bottom: 10px; }
.text-right { text-align: right; }
.bg-fafafa { background: #fafafa; }
.text-white { color: white }
.text-red { color: red; }
.text-center { text-align: center; }

/* Login ----------------------------------------------------------------------------- */

.login img {
  width: 100%;
  object-fit: cover;
}

.login-right-wrap {
  display: table;
  height: 100%;
  margin: 0 auto;
}

.login-right-info {
  display: table-cell;
  vertical-align: middle;
}

.login-button .el-form-item__content {
  margin-left: 0px !important;
}

.login-error { 
  color: red;
  text-align: left; 
}

.login__right__login .el-form-item__label {
  font-weight: bold;
  color: #2c3e50;
}


/* ADMIN ----------------------------------------------------------------------------- */
  /* SIDE BAR */
  .aside-menu { border-right: 1px solid #11385e;
  min-height: 100vh;
  background: #11385e;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  overflow: hidden;
}

.section-right {
  position: absolute;
  left: 200px;
  width: calc(100% - 200px);
  transition: all ease-in-out 0.1s;
}

.el-menu--collapse + .section-right {
  left: 64px !important;
  width: calc(100% - 64px);
}

.el-menu-item-group__title {
  padding: 0px;
}
.el-menu--popup { padding: 0 }

.aside-a {
  display: inline-block;
  width: 100%;
  height: 95%;
}

.el-menu-item:hover,
.el-submenu__title:hover,
.el-menu-item.is-active {
  background-color: #14283d;
}


  /* ADMIN - HEADER */

/* Button search */
.el-input-group__append {
  background-color: #409eff;
  color: #fff;
}

.el-input-group__append:hover {
  background: #66b1ff;
  border-color: #66b1ff;
}

/* hình ảnh chung cho cac trang khi không load được hình */
.el-image .image-slot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #f5f7fa;
  font-size: 20px;
}